<div class="container">
  <h1 class="title">Stupid Nuzha</h1>

  <div class="card">
    <p class="you"><%= "- You" %></p>
    <p class="text"><%= @question %></p>
  </div>
  <div>
    <p class="you"><%= "- Nuzha" %></p>
    <p class="text"><%=@answer%></P>
  </div>
    <a><%= link_to "Ask a new question", ask_path %></a>
</div>
